.toast-container {
  position: fixed;
  top: 20px; /* Position from the top of the viewport */
  right: 20px; /* Position from the right of the viewport */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align toasts to the right */
}

.toast {
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
  color: #333; /* Dark text color for contrast */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  opacity: 0;
  transform: translateY(-30px); /* Start position above the viewport */
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;
  max-width: 300px; /* Adjusted width for readability */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeOut 0.5s ease forwards;
  }

  &.toast-success {
    border-left: 4px solid #4CAF50; /* Green border for success */
  }

  &.toast-error {
    border-left: 4px solid #F44336; /* Red border for error */
  }
}

.toast-body {
  font-size: 14px;
  line-height: 1.4;
  position: relative; /* Ensure button is positioned correctly within the toast */
  padding-right: 35px; /* Space for close button */
  display: flex;
  align-items: center;
}

.toast-icon {
  font-size: 18px;
  margin-right: 10px;
  display: flex;
  align-items: center;

  &.success {
    color: #4CAF50; /* Green checkmark color */
  }

  &.error {
    color: #ff0101; /* Red X color */
  }
}

.btn-close {
  background: none;
  border: none;
  font-size: 18px;
  color: #000; /* Black color for close button */
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s, transform 0.3s;
  z-index: 1; /* Ensure the button is on top of other elements */
}

.btn-close:hover {
  color: #ff4081; /* Pinkish color for hover effect */
  transform: scale(1.2); /* Slightly enlarge the button on hover */
}

/* Animation for fading out */
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

/* Pulsing effect */
.toast.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
