.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Minimum height to cover the viewport */
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  overflow: hidden;
  width: 100%;
  height: 100%;
}


@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.form-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px; /* Limit form width for readability */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
}

.alert-validation {
  color: #dc3545; /* Red color for validation messages */
  font-size: 0.9rem;
  margin-top: 5px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  width: 100%;
  font-size: 16px;
}

.register-link {
  font-size: 16px;
  margin-top: 15px;
  text-align: center; /* Center align the text */
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.register-link a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .login-form {
    max-width: 90%; /* Adjust form width for smaller screens */
  }
}
