<div class="container" *ngIf="!isLoggedIn">
  <div class="modal modal-sheet position-static d-block" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">Create Recipe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <strong>
            <h3>Hey there! It looks like you're not logged in. To submit your delicious recipes,
              you’ll need to be logged into your account. </h3>
          </strong>
        </div>
        <div class="modal-footer flex-column w-200 gap-2 pb-3 border-top-0">
          <button type="button" routerLink="/login" class="btn btn-lg btn-primary">Login to my account</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container fade-in" *ngIf="isLoggedIn">
  <div class="form-container">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <mat-card class="custom-card">
        <mat-card-title>Add/Edit Recipe</mat-card-title>
        <mat-card-content class="custom-card-content">
          <!-- Title -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text">
            <mat-error *ngIf="recipeForm.get('title')?.hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Description -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="recipeForm.get('description')?.hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>

                  <!-- Ingredients Card -->
          <mat-card class="section-card">
            <mat-card-title>Ingredients</mat-card-title>
            <mat-card-content>
              <div formGroupName="ingredientsTotal">
                <div formArrayName="ingredients">
                  <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i" class="ingredient-row">
                    <mat-form-field appearance="outline" class="compact-form-field">
                      <mat-label>Ingredient {{ i + 1 }}</mat-label>
                      <input matInput formControlName="name" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="compact-form-field">
                      <mat-label>Quantity</mat-label>
                      <input matInput formControlName="quantity" type="text">
                    </mat-form-field>
                    <button mat-icon-button (click)="removeIngredient(i)" class="btn-remove">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <!-- Add Ingredient Button -->
                  <button mat-raised-button type="button" class="btn-futuristic-add" (click)="addIngredient()">Add Ingredient</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Steps Card -->
          <mat-card class="section-card">
          <mat-card-title>Steps</mat-card-title>
          <mat-card-content>
            <div formGroupName="instructions">
              <div formArrayName="steps">
                <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i" class="container-step">
                  <div class="step-row">
                    <mat-form-field appearance="outline" class="compact-form-field">
                      <mat-label>Step {{ i + 1 }}</mat-label>
                      <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                    <button mat-icon-button (click)="removeStep(i)" class="btn-remove">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
                <!-- Add Step Button -->
                <button mat-raised-button type="button" class="btn-futuristic-add-step" (click)="addStep()">Add Step</button>
              </div>
            </div>
          </mat-card-content>
          </mat-card>

          <!-- Tags -->
          <mat-form-field appearance="outline">
            <mat-label>Tags</mat-label>
            <input matInput formControlName="tags" type="text">
          </mat-form-field>

          <!-- Meal Type -->
          <mat-form-field appearance="outline">
            <mat-label>Meal Type</mat-label>
            <mat-select formControlName="mealType">
              <mat-option *ngFor="let type of mealTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Cuisine -->
          <mat-form-field appearance="outline">
            <mat-label>Cuisine</mat-label>
            <mat-select formControlName="cuisine">
              <mat-option *ngFor="let type of cuisines" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Dietary Restrictions -->
          <mat-form-field appearance="outline">
            <mat-label>Dietary Restrictions</mat-label>
            <mat-select formControlName="dietaryRestrictions">
              <mat-option *ngFor="let type of dietaryRestrictions" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Cooking Method -->
          <mat-form-field appearance="outline">
            <mat-label>Cooking Method</mat-label>
            <mat-select formControlName="cookingMethod">
              <mat-option *ngFor="let type of cookingMethods" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Main Ingredient -->
          <mat-form-field appearance="outline">
            <mat-label>Main Ingredient</mat-label>
            <mat-select formControlName="mainIngredient">
              <mat-option *ngFor="let type of mainIngredients" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Occasion -->
          <mat-form-field appearance="outline">
            <mat-label>Occasion</mat-label>
            <mat-select formControlName="occasion">
              <mat-option *ngFor="let type of occasions" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Difficulty Level -->
          <mat-form-field appearance="outline">
            <mat-label>Difficulty Level</mat-label>
            <mat-select formControlName="difficultyLevel">
              <mat-option *ngFor="let type of difficultyLevels" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Other Categories -->
          <mat-form-field appearance="outline">
            <mat-label>Other Categories</mat-label>
            <mat-select formControlName="otherCategories" multiple>
              <mat-option *ngFor="let type of otherCategories" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Information Time Card -->
          <mat-card class="section-card">
            <mat-card-title>Information Time</mat-card-title>
            <mat-card-content>
              <div formGroupName="informationTime">
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Prep Time (minutes)</mat-label>
                  <input matInput formControlName="prepTime" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Cook Time (minutes)</mat-label>
                  <input matInput formControlName="cookTime" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Stand Time (minutes)</mat-label>
                  <input matInput formControlName="standTime" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Total Time (minutes)</mat-label>
                  <input matInput formControlName="totalTime" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Servings</mat-label>
                  <input matInput formControlName="servings" type="number">
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Nutrition Facts Card -->
          <mat-card class="section-card">
            <mat-card-title>Nutrition Facts</mat-card-title>
            <mat-card-content>
              <div formGroupName="nutritionFacts">
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Calories</mat-label>
                  <input matInput formControlName="calories" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Fat (g)</mat-label>
                  <input matInput formControlName="fat" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Carbs (g)</mat-label>
                  <input matInput formControlName="carbs" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="compact-form-field">
                  <mat-label>Protein (g)</mat-label>
                  <input matInput formControlName="protein" type="number">
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

        </mat-card-content>
        <mat-card-actions>
          <button type="submit" class="btn-publish-recipe">Publish Recipe</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
