<div class="filter-container">
    <mat-form-field appearance="fill">
      <mat-label>Filter Recipes</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Recipe Name" />
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{ getStatusString(element.status) }} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button class="approve-button" (click)="handleApproveRecipe(element.id)">Approve</button>
      <button mat-raised-button class="reject-button" (click)="handleRejectRecipe(element.id)">Reject</button>
      <button mat-raised-button class="edit-button" (click)="editRecipe(element.id)">Edit</button>
      <button mat-raised-button class="delete-button" (click)="deleteRecipe(element.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalRecipes" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
