<div class="container">
  <div class="form-wrapper">
    <h2>Reset Your Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Enter your new password">
        <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched" class="validation-message">
          Please enter a valid password.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm your new password">
        <div *ngIf="resetPasswordForm.errors?.['notMatching']" class="validation-message">
          Passwords do not match.
        </div>
        <div class="alert alert-danger" *ngIf="showTokenExpired">
          This link has expired or has already been used!
      </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
  </div>
</div>
