/* General Recipe Card */
.recipe-card {
  margin: 20px auto; /* Center card with margin on top and bottom */
  width: 90%; /* Reduce card width */
  max-width: 1200px; /* Set a max-width to prevent it from getting too wide */
  border-radius: 12px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2); /* Softer shadow for a refined look */
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.recipe-title{
  font-style: normal !important;
  font-family: 'Playfair Display', serif; /* Apply chosen font */
  font-size: 2.5em; /* Adjust size as needed */
  color: #1d4b3b; /* Choose a suitable color */
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 0.9;
}
.recipe-card:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25); /* Slightly more pronounced shadow on hover */
  transform: translateY(-4px); /* Slight lift effect */
}

/* Card Header */
.mat-card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  padding: 10px;
  border-radius: 12px 12px 0 0; /* Rounded top corners */
  margin-top: 2px;
}

.recipe-image {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  max-width: 55%;
  height: auto;
  border-radius: 12px;
  margin: 20px auto; /* Center image with automatic left and right margins */
}

@media (max-width: 768px) {
  .recipe-image {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    margin: 20px auto; /* Center image with automatic left and right margins */
  }
}
/* Card Content */
.mat-card-content {
  padding: 20px;
  overflow: hidden;

}

.mat-card-content p {
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6; /* Improved readability */
}

.mat-card-content ul,
.mat-card-content ol {
  padding-left: 20px;
}

.mat-card-content ul li,
.mat-card-content ol li {
  margin-bottom: 8px;
}

.mat-card-title{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 964;
  font-size: 20px;
  font-style: italic;
}

/* Subtitle Styling */
.mat-card-subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #495057;
}

/* Recipe Details */
.recipe-details {
  background-color: #f1f3f5;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details p {
  margin: 10px 0;
  font-weight: 500;
}

/* Comments Section */
.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 1.75rem; /* Slightly larger for emphasis */
  font-weight: 600;
  margin-bottom: 20px;
  color: #0ea041; /* Primary brand color */
  border-bottom: 2px solid  #0ea041;; /* Bottom border for emphasis */
  padding-bottom: 10px; /* Space below the title */
  font-family: 'Montserrat', sans-serif;
}

.comments-list {
  .comment-card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .profile-picture-wrapper {
      .profile-picture {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .rating {
      display: flex;
      align-items: center;

      mat-icon {
        font-size: 20px;
        margin-right: 4px;
      }
    }

    .mat-card-header {
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 5px;
    }

    .mat-card-content {
      padding-top: 10px;
    }
  }

  .load-more-container {
    text-align: center;
    margin-top: 20px;

    button {
      border-radius: 24px;
      padding: 10px 20px;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      background-color: #007bff; /* Primary color for consistency */
      color: #ffffff;
      border: none;

      &:hover {
        background-color: #0056b3; /* Darker shade on hover */
      }
    }
  }

  .comment-form-card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
  }

  .comment-form-card .full-width {
    width: 100%;
  }

  .comment-form {
    margin-top: 20px;

    .rating-form {
      margin-top: 20px;

      .stars {
        display: flex;
        cursor: pointer;

        mat-icon {
          font-size: 28px;
          margin-right: 6px;
        }
      }
    }
  }
}

/* Custom Stepper */
.custom-stepper-container {
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 10px;

}

.custom-step {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.step-indicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  z-index: 1;
}

.step-content {
  flex: 1;
  position: relative;
  width: 200px; /* Set a width for the container */
  word-wrap: break-word; /* Allows breaking long words */
  overflow-wrap: break-word; /* Modern equivalent of word-wrap */
  white-space: normal; /* Normal wrapping behavior */
}

.step-line {
  position: absolute;
  left: 15px;
  top: 20px;
  width: 2px;
  height: calc(100% - 20px);
  background-color: #ddd;
  transition: background-color 0.3s ease;
  z-index: 0;
}

.custom-step.active .step-indicator {
  background-color:  #0ea041;;
}

.custom-step.active .step-line {
  background-color:  #0ea041;;
}

/* Rating Stars */
.rating {
  display: flex;
  align-items: center;
}

.mat-icon.filled {
  color: gold;
}

.mat-icon.empty {
  color: lightgray;
}

/* Reply and Nested Comments */
.reply-form-card {
  margin-top: 1rem;
}

.reply-button{
  background-color: #f5f5f5;
  color: #222020;

  &:hover {
    box-shadow: 0 5px 10px rgba(46, 46, 46, 0.3);
  }
}
.nested-comments {
  margin-left: 2rem;
}

.nested-comment {
  border-left: 2px solid #e0e0e0;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* Nutrition Facts */
.nutrition-facts {
  .mat-card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 16px;
    border-radius: 12px 12px 0 0;
  }

  .nutrition-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns for the first row */
    gap: 16px; /* Space between items */
    margin-top: 20px;
  }

  .ingredients-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Three columns for the first row */
    gap: 16px; /* Space between items */
    margin-top: 20px;
    max-width: 100%;
  }

  .nutrition-item {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
    justify-content: center !important;
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
  }

  .nutrition-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }



  @media (max-width: 1024px) {
    .nutrition-grid {
      grid-template-columns: repeat(1, 1fr); /* Two columns for medium screens */
    }
  }

  @media (max-width: 768px) {
    .nutrition-grid {
      grid-template-columns: 1fr; /* Single column for small screens */
    }

    .ingredients-grid {
      display: flex;
      grid-template-columns: repeat(1, 1fr); /* Three columns for the first row */
      gap: 16px; /* Space between items */
      margin-top: 20px;
      max-width: 50%;
    }
  }
}

/* Additional Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2; 
  margin: 0; 
}

.josefin-slab-font {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 568;
}

.gupter-regular {
  font-family: "Gupter", serif;
  font-size: medium;
  font-weight: 150;
  font-style: normal;
  opacity: 85%;
}

.submitted{
  font-size: large;
  display: inline;
  font-style: italic;
  opacity: 80%;
}