<mat-card class="recipe-card">
  <!-- Card Header -->
<!-- First Mat-Card-Header -->
<mat-card-header style="display: flex; justify-content: center; margin-bottom: -30px;">
  <p class="recipe-title">{{ recipe?.title }}</p>
</mat-card-header>

<!-- Second Mat-Card-Header -->
<mat-card-header style="display: flex; justify-content: center;">
  <div class="row mt-2">
    <div class="col-12">
      <mat-card-content style="letter-spacing: 2.5px; margin-top: -25px;">
        <div *ngIf="recipe?.mostHelpfulPositiveComment?.rating" class="rating">
          <ng-container *ngFor="let star of stars">
            <mat-icon [ngClass]="getStarClass(star, recipe?.averageRating) ">star</mat-icon>
          </ng-container>
          <p>
            <a (click)="scrollToComments()" style="cursor: pointer; margin-left: 4px;">
              <u><b>{{ recipe?.averageRating?.toPrecision(3) }}</b></u>
            </a>
            ({{ recipe?.ratingsNumber }})
          </p>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card-header>

  <!-- <mat-divider></mat-divider> -->
  <!-- <button *ngIf="isOwner" (click)="onEdit()">Edit</button> -->
  <!-- Description Section -->

  <div class="row mt-4">
    <div class="col-12">
      <mat-card-header>
        <mat-card-title>Description</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ recipe?.description }}</p>
        <div class="submitted">
          <br>
          <p style="display: inline; ">Submitted by </p>
          <p style="display: inline;"><b>{{recipe?.applicationUser?.firstName}}
              {{recipe?.applicationUser?.lastName}}</b></p>
          <p style="display: inline;"> on {{recipe?.createdAt | date:'short'}}. </p>
        </div>
      </mat-card-content>
    </div>
  </div>

  <!-- Photo Section -->
  <div class="row">
    <div class="col-12">
      <img *ngIf="recipe?.imageUrl" [src]="recipe?.imageUrl" class="recipe-image mat-elevation-z4"
        alt="{{ recipe?.title }}">
    </div>
  </div>

  <!-- Social Action-Buttons : Rate/Save/Share -->
  <ng-container *ngIf="recipe && currentUser">
    <app-social-action-buttons [recipe]="recipe" [user]="currentUser" (rateClicked)="scrollToComments()">
    </app-social-action-buttons>
  </ng-container>

  <!-- Details Section -->
  <div class="recipe-details">
    <div class="row mt-4">
      <div class="col-md-6">
        <mat-card-content>
          <p><strong>Meal Type:</strong> {{ recipe?.occasionId }}</p>
          <p><strong>Cuisine:</strong> {{ recipe?.mealTypeId }}</p>
          <p><strong>Dietary Restrictions:</strong> {{ recipe?.dietaryRestrictions }}</p>
        </mat-card-content>
      </div>
      <div class="col-md-6">
        <mat-card-content>
          <!-- <p><strong>Cooking Method:</strong> {{ recipe?.cookingMethod }}</p>
          <p><strong>Main Ingredient:</strong> {{ recipe?.mainIngredient }}</p>
          <p><strong>Occasion:</strong> {{ recipe?.occasion }}</p> -->
          <p><strong>Difficulty Level:</strong> {{ recipe?.difficultyLevel }}</p>
        </mat-card-content>
      </div>
    </div>
  </div>

  <!-- Ingredients Section -->
  <mat-card class="nutrition-facts ingredients mt-4">
    <mat-card-header>
      <mat-card-title>Ingredients</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingredients">
      <div class="ingredients-grid">
        <div *ngIf="recipe?.ingredientsTotal?.ingredients">
          <div class="nutrition-item" *ngFor="let ingredient of recipe?.ingredientsTotal?.ingredients">
            {{ ingredient.name }} - {{ ingredient.quantity }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <!-- Nutrition Facts Card -->
  <mat-card class="nutrition-facts mt-4">
    <mat-card-header>
      <mat-card-title>Nutrition Facts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="nutrition-grid">
        <div class="nutrition-item" *ngIf="recipe?.nutritionFacts?.calories">
          <strong>Calories:</strong> {{ recipe?.nutritionFacts?.calories }} kcal
        </div>
        <div class="nutrition-item" *ngIf="recipe?.nutritionFacts?.fat">
          <strong>Fat:</strong> {{ recipe?.nutritionFacts?.fat }} g
        </div>
        <div class="nutrition-item" *ngIf="recipe?.nutritionFacts?.carbs">
          <strong>Carbohydrates:</strong> {{ recipe?.nutritionFacts?.carbs }} g
        </div>
        <div class="nutrition-item" *ngIf="recipe?.nutritionFacts?.protein">
          <strong>Protein:</strong> {{ recipe?.nutritionFacts?.protein }} g
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Information Time Card -->
  <mat-card class="nutrition-facts mt-4">
    <mat-card-header>
      <mat-card-title>Information Time</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="nutrition-grid">
        <!-- Preparation Time -->
        <div class="nutrition-item" *ngIf="recipe?.informationTime?.prepTime">
          <strong>Preparation Time:</strong> {{ recipe?.informationTime?.prepTime }} minutes
        </div>
        <!-- Cooking Time -->
        <div class="nutrition-item" *ngIf="recipe?.informationTime?.cookTime">
          <strong>Cooking Time:</strong> {{ recipe?.informationTime?.cookTime }} minutes
        </div>
        <!-- Stand Time -->
        <div class="nutrition-item" *ngIf="recipe?.informationTime?.standTime">
          <strong>Stand Time:</strong> {{ recipe?.informationTime?.standTime }} minutes
        </div>
        <!-- Total Time -->
        <div class="nutrition-item" *ngIf="recipe?.informationTime?.totalTime">
          <strong>Total Time:</strong> {{ recipe?.informationTime?.totalTime }} minutes
        </div>
        <!-- Servings -->
        <div class="nutrition-item" *ngIf="recipe?.informationTime?.servings">
          <strong>Servings:</strong> {{ recipe?.informationTime?.servings }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Instructions Section -->
  <mat-card class="nutrition-facts mt-4">
    <mat-card-header>
      <mat-card-title>Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="custom-stepper-container">
        <div class="custom-stepper">
          <div *ngFor="let step of recipe?.instructions?.steps; let i = index" class="custom-step"
            [class.active]="i === currentStep">
            <div class="step-indicator">
              <span>{{ step.stepNumber }}</span>
            </div>
            <div #stepContent class="step-content">
              {{ step.description }}
            </div>
            <div class="step-line" *ngIf="i < recipe?.instructions?.steps!.length - 1"></div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- No reviews section -->
   <div >
      <button class="no-reviews-button" (click)="scrollToComments()">
        <div class="no-reviews" *ngIf="!recipe?.mostHelpfulPositiveComment">
          <mat-icon class="review-icon" aria-hidden="true">rate_review</mat-icon>
          <p class="review-title"><strong>Be the first to review this recipe!</strong></p>
          <p class="review-subtitle">Rate it and share your thoughts to help others.</p>
        </div>
      </button>
    </div>

      <!-- Reviews Section  -->
      <div class="most-helpful-review-box" *ngIf="recipe?.mostHelpfulPositiveComment">
        <h3 class="h3-title">Most helpful positive review</h3>
        <div class="review-header">
      
          <!-- Profile Picture and Username -->
          <div class="profile-picture-wrapper">
            <img *ngIf="recipe?.mostHelpfulPositiveComment?.user?.profilePictureUrl"
              [src]="recipe?.mostHelpfulPositiveComment?.user?.profilePictureUrl" class="profile-picture"
              alt="{{ recipe?.mostHelpfulPositiveComment?.user?.email }}" />
          </div>
          <p class="user-name">
            <strong>{{ recipe?.mostHelpfulPositiveComment?.user?.firstName }} {{
              recipe?.mostHelpfulPositiveComment?.user?.lastName }}</strong> says:
          </p>
        </div>
    
      <!-- Star Rating -->
      <div *ngIf="recipe?.mostHelpfulPositiveComment?.rating" class="rating">
        <ng-container *ngFor="let star of stars">
          <mat-icon [ngClass]="getStarClass(star, recipe?.mostHelpfulPositiveComment?.rating?.ratingValue)">star</mat-icon>
        </ng-container>
      </div>
  
      <!-- Review Content -->
      <p class="review-content">{{ recipe?.mostHelpfulPositiveComment?.content }}</p>
  
      <!-- Helpful Votes and Submission Date -->
      <div class="review-footer">
        <div class="helpful-votes">
          <div class="feedback-buttons mt-2">
            <button mat-icon-button color="black" (click)="markAsHelpful(recipe?.mostHelpfulPositiveComment!)">
              <mat-icon>thumb_up</mat-icon> {{ recipe?.mostHelpfulPositiveComment?.helpfulCount }} Helpful
            </button>
          </div>
        </div>
        <small>Submitted on: {{ recipe?.mostHelpfulPositiveComment?.submitted | date:'short' }}</small>
      </div>
    </div>
  
  
  <!-- Comments Section -->
  <div class="comments mt-4" #commentsSection>
    <!-- Comment Form -->
    <mat-card class="comment-form-card nutrition-facts mt-4 mb-4">
        <h2 class="h3-title"><strong>Tell us what you think</strong></h2>
      <mat-card-content>
        <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
          <mat-form-field appearance="outline" style="width: 100%;" class="full-width">
            <mat-label>Add a comment</mat-label>
            <textarea matInput rows="3" placeholder="Type your comment here" formControlName="content"></textarea>
            <button mat-icon-button (click)="resetCommentForm()" class="btn-remove" *ngIf="commentForm.dirty">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="rating-form">
            <p style="margin-left: 4px;"><strong>Give a rating</strong></p>
            <div class="stars">
              <mat-icon *ngFor="let star of stars; let i = index" [ngClass]="{
                      'filled': i < hoverRating || i < commentForm.value.rating,
                      'empty': i >= hoverRating && i >= commentForm.value.rating
                    }" (mouseenter)="setHover(i + 1)" (mouseleave)="setHover(0)" (click)="rate(i + 1)">star</mat-icon>
            </div>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid">Submit
              Comment</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Comments List -->
    <div class="comments-list">
      <div *ngFor="let comment of visibleComments" class="comment-card mb-3">
        <mat-card-header>
          <div mat-card-avatar class="profile-picture-wrapper">
            <img *ngIf="comment.user?.profilePictureUrl" [src]="comment.user!.profilePictureUrl" class="profile-picture"
              alt="{{ comment.user?.email }}">
          </div>
          <mat-card-title class="user-name">{{ comment.user?.firstName }} {{ comment.user?.lastName }}</mat-card-title>
          <div class="user-badges">
            <img *ngFor="let badge of comment.user!.badges" 
                 [src]="badge.iconUrl" 
                 [title]="badge.name + '-' +  badge.description + ' - ' + badge.points + 'XP' " 
                 alt="{{ badge.name }}" 
                 class="badge-icon" />
          </div>
          <mat-card-subtitle *ngIf="!comment.isEdited"> <small>Submitted at {{ comment.submitted | date:'short' }}</small></mat-card-subtitle>
          <mat-card-subtitle *ngIf="comment.isEdited"> <small> Edited at {{ comment.updated | date:'short' }} </small></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <!-- Edit Form for Comment -->
          <form *ngIf="isEditingComment(comment.id!)" [formGroup]="editCommentForm" (ngSubmit)="onEditSubmit(comment)">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Edit Comment</mat-label>
              <textarea matInput rows="3" formControlName="content" *ngIf="editCommentForm.get('content')"></textarea>
            </mat-form-field>
            <div class="form-actions">
              <button mat-raised-button color="primary" type="submit" [disabled]="editCommentForm.invalid">Save Edit</button>
              <button mat-button (click)="cancelCommentEdit()">Cancel</button>
            </div>
          </form>
          <!-- Display Comment Content -->
          <p class="review-content" *ngIf="!isEditingComment(comment.id!)">{{ comment.content! }}</p>

          <div *ngIf="comment.rating" class="rating">
            <ng-container *ngFor="let star of stars">
              <mat-icon [ngClass]="getStarClass(star, comment.rating.ratingValue)">star</mat-icon>
            </ng-container>
          </div>

        <!-- Helpful / Not Helpful Buttons for replies -->
        <div class="helpful-votes">
          <div class="feedback-buttons mt-2">
          <button mat-icon-button color="black" (click)="markAsHelpful(comment)">
              <mat-icon>thumb_up</mat-icon> {{ comment.helpfulCount || 0 }} Helpful
          </button>
        </div>
      </div>
      
      <div class="button-group">
        <button mat-button *ngIf="currentUser?.id === comment.applicationUserId"
          (click)="onCommentEdit(comment)">Edit</button>
        <button mat-button *ngIf="currentUser?.id !== comment.applicationUserId"
          (click)="toggleReplyForm(comment)">Reply</button>
        <button mat-button *ngIf="currentUser?.id === comment.applicationUserId"
          (click)="openDeleteDialog(comment.id!)" class="btn btn-outline-danger">
          <i class="bi bi-trash"></i>
        </button>
      </div>

          <!-- Reply Form for top-level comments -->
          <mat-card *ngIf="replyingToComment === comment" class="reply-form-card mt-4">
            <mat-card-header>
              <mat-card-title>Reply to {{ comment.user?.firstName }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="replyForm" (ngSubmit)="onReplySubmit(comment)">
                <mat-form-field appearance="outline" style="width: 100%;" class="full-width">
                  <mat-label>Add a reply</mat-label>
                  <textarea matInput placeholder="Type your reply here" formControlName="content"></textarea>
                  <button mat-icon-button (click)="resetReplyForm()" class="btn-remove" *ngIf="replyForm.dirty">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div class="form-actions">
                  <button mat-raised-button color="primary" type="submit" [disabled]="replyForm.invalid">Submit
                    Reply</button>
                  <button mat-raised-button color="secondary" (click)="toggleReplyForm(null)">Cancel</button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>

          <!-- Nested replies -->
          <div *ngIf="comment.replies?.length" class="nested-comments">
            <ng-container *ngFor="let reply of comment.replies ,let i = index">
              <mat-card class="nested-comment mb-2">
                <mat-card-header>
                  <div mat-card-avatar class="profile-picture-wrapper">
                    <img *ngIf="reply.user?.profilePictureUrl" [src]="reply.user!.profilePictureUrl"
                      class="profile-picture" alt="{{ reply.user?.email }}">
                  </div>
                  <mat-card-title class="user-name">{{ reply.user?.firstName }} {{ reply.user?.lastName }}</mat-card-title>
                  <mat-card-subtitle *ngIf="!reply.isEdited"> <small> Submitted at {{ reply.submitted | date:'short' }}</small></mat-card-subtitle>
                  <mat-card-subtitle *ngIf="reply.isEdited"> <small> Edited at {{ reply.updated | date:'short' }}</small></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                  <!-- Edit Form for Reply -->
                  <form *ngIf="isEditingReply(reply.id!)" [formGroup]="editReplyForm" (ngSubmit)="onEditReplySubmit(reply)">
                    <mat-form-field appearance="outline" style="width: 100%" class="full-width">
                      <mat-label>Edit Reply</mat-label>
                      <textarea matInput rows="3" formControlName="content"></textarea>
                        <button mat-icon-button (click)="cancelReplyEdit()" class="btn-remove" *ngIf="editReplyForm.dirty || editReplyForm.value">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="form-actions">
                      <button mat-raised-button color="primary" type="submit" [disabled]="editReplyForm.invalid">Save Edit</button>
                      <button mat-button (click)="cancelReplyEdit()">Cancel</button>
                    </div>
                  </form>
                  <!-- Display Reply Content -->
                  <p class="review-content" *ngIf="!isEditingReply(reply.id!)">{{ reply.content }}</p>


                  <div class="button-group">
                    <button mat-button *ngIf="currentUser?.id === reply.applicationUserId"
                      (click)="onReplyEdit(reply)">Edit</button>
                    <button mat-button *ngIf="currentUser?.id !== reply.applicationUserId"
                      (click)="toggleReplyForm(reply)">Reply</button>
                    <button mat-button *ngIf="currentUser?.id === reply.applicationUserId"
                      (click)="openDeleteDialog(reply.id!)" class="btn btn-outline-danger">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>

                  <!-- Helpful / Not Helpful Buttons for replies -->
                  <div class="helpful-votes">
                    <div class="feedback-buttons mt-2">
                    <button mat-icon-button color="black" (click)="markAsHelpful(reply)">
                      <mat-icon>thumb_up</mat-icon> {{ reply.helpfulCount || 0 }} Helpful
                    </button>
                  </div>
                </div>

                  <!-- Recursive replies -->
                  <div *ngIf="reply.replies?.length">
                    <ng-container *ngFor="let nestedReply of reply.replies">
                      <mat-card class="nested-comment mb-2">
                        <mat-card-header>
                          <div mat-card-avatar class="profile-picture-wrapper">
                            <img *ngIf="nestedReply.user?.profilePictureUrl" [src]="nestedReply.user!.profilePictureUrl"
                              class="profile-picture" alt="{{ nestedReply.user?.email }}">
                          </div>
                          <mat-card-title class="user-name">{{ nestedReply.user?.firstName }} {{ nestedReply.user?.lastName
                            }}</mat-card-title>
                          <mat-card-subtitle  *ngIf="!nestedReply.isEdited">Submitted at {{ nestedReply.submitted | date:'short' }}</mat-card-subtitle>
                          <mat-card-subtitle  *ngIf="nestedReply.isEdited"> Edited at {{ nestedReply.updated | date:'short' }}</mat-card-subtitle >

                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ nestedReply.content }}</p>
                          <div class="button-group">
                            <button mat-button *ngIf="currentUser?.id === nestedReply.applicationUserId"
                              (click)="onReplyEdit(nestedReply)">Edit</button>
                            <button mat-button *ngIf="currentUser?.id !== nestedReply.applicationUserId"
                              (click)="toggleReplyForm(nestedReply)">Reply</button>
                            <button mat-button *ngIf="currentUser?.id === nestedReply.applicationUserId"
                              (click)="openDeleteDialog(nestedReply.id!)" class="btn btn-outline-danger">
                              <i class="bi bi-trash"></i>
                            </button>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </ng-container>
                  </div>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
        </mat-card-content>
      </div>

      <!-- Load More Comments Button -->
      <div class="load-more-container text-center mt-4">
        <button mat-raised-button (click)="loadMoreComments()">Load More Comments</button>
      </div>
    </div>
  </div>
</mat-card>
<!-- Confirmation Dialog -->
<app-confirm-dialog #confirmDialog></app-confirm-dialog>