.recipe-card {
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;

  .mat-card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 16px;
  }

  .recipe-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-card-content {
    padding: 16px;
    border-bottom: 1px solid #e9ecef;
  }

  .mat-card-content p {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }

  .mat-card-content ul,
  .mat-card-content ol {
    padding-left: 20px;
  }

  .mat-card-content ul li,
  .mat-card-content ol li {
    margin-bottom: 8px;
  }

  .mat-card-subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #495057;
  }

  .recipe-details {
    background-color: #f1f3f5;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
  }

  .recipe-details p {
    margin: 10px 0;
    font-weight: 500;
  }

  .comments {
    .comments-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 20px;
    }

    .comments-list {
      .comment-card {
        border: none;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        margin-bottom: 1rem;
        padding: 15px;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .profile-picture-wrapper {
          .profile-picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: -16px
          }
        }

        .rating {
          display: flex;
          align-items: center;

          mat-icon {
            font-size: 20px;
            margin-right: 4px;
          }
        }
      }
    }

    .load-more-container {
      text-align: center;
      margin-top: 20px;

      button {
        border-radius: 24px;
        padding: 10px 20px;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .comment-form-card {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #e0e0e0;
      border-radius: 12px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }

    .comment-form-card .full-width {
      width: 100%;
    }

    .comment-form {
      margin-top: 20px;

      .rating-form {
        margin-top: 20px;

        .stars {
          display: flex;
          cursor: pointer;

          mat-icon {
            font-size: 28px;
            margin-right: 6px;
          }
        }
      }
    }
  }

  .stars {
    display: flex;
    cursor: pointer;
  
    mat-icon {
      font-size: 24px;
      margin-right: 4px;
    }
  
    .filled {
      color: #ffc107; // Gold or any color you choose for filled stars
    }
  
    .empty {
      color: #e0e0e0; // Gray or any color you choose for empty stars
    }
  }

  .rating {
    display: flex;
    align-items: center;

    mat-icon {
      font-size: 24px;
      margin-right: 4px;
    }
  }
}

.custom-stepper-container {
  position: relative;
  width: 100%;
  padding: 20px;
}

.custom-stepper {
  position: relative;
  padding-left: 30px;
}

.custom-step {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.step-indicator {
  width: 30px; /* Increased size for step number */
  height: 30px; /* Increased size for step number */
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  z-index: 1;
}

.step-content {
  flex: 1;
  position: relative;
}

.step-line {
  position: absolute;
  left: 15px; /* Adjusted for alignment with step number */
  top: 20px;
  width: 2px;
  height: calc(100% - 20px);
  background-color: #ddd;
  transition: background-color 0.3s ease;
  z-index: 0;
}

.custom-step.active .step-indicator {
  background-color: #007bff;
}

.custom-step.active .step-line {
  background-color: #007bff;
}

.rating {
  display: flex;
  align-items: center;
}


.mat-icon.filled {
  color: gold; // Or any color you want for filled stars
}

.mat-icon.empty {
  color: lightgray; // Or any color you want for empty stars
}


.reply-form-card {
  margin-top: 1rem;
}

.nested-comments {
  margin-left: 2rem; /* Adjust as needed */
}

.nested-comment {
  border-left: 2px solid #e0e0e0; /* Optional: to visually separate replies */
  padding-left: 1rem;
  margin-bottom: 1rem;
}
