<div class="forgot-password-container">
    <div class="form-wrapper">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" class="forgot-password-form">
        <h2>Forgot Your Password?</h2>
        <p class="description">Please enter your email address to receive a password reset link.</p>
        <div class="form-group">
          <strong><label for="email">Email Address</label></strong>
          <input id="email" formControlName="email" type="email" class="form-control" placeholder="Enter your email" />
          <div class="alert-validation" *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']" class="alert alert-danger">
              Email is required.
            </div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" class="alert alert-danger">
              Please enter a valid email address.
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="showInvalidLogin">
            There is no account registered with this email!
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
      </form>
    </div>
  </div>
