.main-page {
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
    background-color: #777;
    color: white;
    text-align: center;
  }

  .container-marketing {
    padding: 2rem 0;
  }

  .featurette-divider {
    margin: 5rem 0; 
  }
}
