<div class="main-page">
    <!-- Hero Section -->
    <section class="hero bg-dark text-white text-center py-5">
      <div class="overlay"></div> <!-- Added overlay -->
      <div class="container position-relative">
        <h1 class="display-4">Discover Delicious Recipes for Every Occasion</h1>
        <p class="lead">From quick weeknight meals to gourmet dishes, we've got it all.</p>
        <a [routerLink]="'/recipes/list'" class="btn btn-lg btn-primary btn-rounded">Browse Recipes</a>
        <a [routerLink]="'/register'" class="btn btn-lg btn-outline-light btn-rounded">Join the Community</a>
      </div>
    </section>
  
    <!-- Trending Recipes Carousel -->
    <section class="trending-recipes py-5 bg-light">
      <div class="container position-relative">
        <h2 class="section-title">Trending Recipes</h2>
        <div class="carousel-controls">
          <button class="btn carousel-control-prev" type="button" data-bs-target="#popularRecipesCarousel" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="btn carousel-control-next" type="button" data-bs-target="#popularRecipesCarousel" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
        <div id="popularRecipesCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3750">
          <div class="carousel-inner">
            <ng-container *ngFor="let recipeChunk of (popularRecipes | chunk: chunkSize); let i = index">
              <div class="carousel-item" [class.active]="i === 0">
                <div class="row justify-content-center">
                  <ng-container *ngFor="let recipe of recipeChunk">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3"> <!-- Updated here -->
                      <div class="card h-100 shadow border-0">
                        <a [routerLink]="['/recipes', recipe.id, recipe.slug]" class="recipe-card">
                          <img [src]="recipe.imageUrl" class="card-img-top fixed-image" [alt]="recipe.title">
                          <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ recipe.title.length > 70 ? (recipe.title | slice:0:70) + '...' : recipe.title }}</h5>
                            <div class="mt-auto"> <!-- This pushes the stars and info to the bottom -->
                              <div class="card-footer d-flex justify-content-between align-items-center">
                                <span class="info-time">
                                  <i class="fas fa-clock time-icon"></i>
                                  {{ recipe.informationTime?.prepTime }} min
                                </span>
                                <div class="rating ms-2">
                                  <div class="rating-stars">
                                    <ng-container *ngFor="let star of getStars(recipe.averageRating)">
                                      <i class="bi" [ngClass]="{'bi-star-fill': star === 1, 'bi-star': star === 0, 'bi-star-half': star === 0.5}"></i>
                                    </ng-container>
                                  </div>
                                  <span class="rating-number">({{ recipe.ratingsNumber }})</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
      </div>
      </div>
    </section>
  
    <!-- Latest Recipes Carousel -->
    <section class="trending-recipes py-5 bg-light">
      <div class="container position-relative">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2 class="section-title">Latest Recipes</h2>
          <div class="carousel-controls">
            <button class="btn carousel-control-prev" type="button" data-bs-target="#latestRecipesCarousel" data-bs-slide="prev">
              <i class="fas fa-chevron-left"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="btn carousel-control-next" type="button" data-bs-target="#latestRecipesCarousel" data-bs-slide="next">
              <i class="fas fa-chevron-right"></i>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div id="latestRecipesCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4700">
          <div class="carousel-inner">
            <ng-container *ngFor="let recipeChunk of (latestRecipes | chunk: chunkSize); let i = index">
              <div class="carousel-item" [class.active]="i === 0">
                <div class="row justify-content-center">
                  <ng-container *ngFor="let recipe of recipeChunk">
                    <div class="col-lg-3 col-md-4 mb-3">
                      <div class="card h-100 shadow border-0">
                        <a [routerLink]="['/recipes', recipe.id, recipe.slug]" class="recipe-card">
                          <img [src]="recipe.imageUrl" class="card-img-top fixed-image" [alt]="recipe.title">
                          <div class="card-body">
                            <h5 class="card-title">{{ recipe.title.length > 70 ? (recipe.title | slice:0:70) + '...' : recipe.title }}</h5>
                            <div class="mt-auto"> <!-- This pushes the stars and info to the bottom -->
                              <div class="card-footer d-flex justify-content-between align-items-center">
                                <span class="info-time">
                                  <i class="fas fa-clock time-icon"></i>
                                  {{ recipe.informationTime?.prepTime }} min
                                </span>
                                <div class="rating ms-2">
                                  <div class="rating-stars">
                                    <ng-container *ngFor="let star of getStars(recipe.averageRating)">
                                      <i class="bi" [ngClass]="{'bi-star-fill': star === 1, 'bi-star': star === 0, 'bi-star-half': star === 0.5}"></i>
                                    </ng-container>
                                  </div>
                                  <span class="rating-number">({{ recipe.ratingsNumber }})</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Newsletter Signup -->
  <section class="newsletter-signup hero bg-dark py-5">
    <div class="overlay"></div> <!-- Added overlay -->
    <div class="container position-relative">
      <h2>Join Our Recipe Newsletter</h2>
      <p>Get delicious new recipes straight to your inbox every week!</p>
      <form class="d-flex justify-content-center" (ngSubmit)="onSubscribe()">
        <input type="email" class="form-control w-50" placeholder="Enter your email" required>
        <button type="submit" class="btn btn-primary btn-rounded ms-3">Sign Up</button>
      </form>
    </div>
  </section>
  