<mat-toolbar color="primary" class="admin-toolbar">
    <span>Admin Panel</span>
  </mat-toolbar>
  
  <mat-tab-group class="tab-group">
    <mat-tab label="Pending Recipes">
      <app-recipe-management [isPending]="true"></app-recipe-management>
    </mat-tab>
    <mat-tab label="All Recipes">
      <app-recipe-management [isPending]="false"></app-recipe-management>
    </mat-tab>
    <mat-tab label="Categories">
      <app-category-management></app-category-management>
    </mat-tab>
  </mat-tab-group>
  